h1{
text-align: center;
color: gray;
text-decoration: underline;
}

h3{
text-align: center;
color: red;
}

body{
background-color: black;
}

#newGame{
background-color: red;
display: inline;
}

#canvas-contain {
   width: 100%;
   text-align:center;
}

#button-contain{
padding-top: 10px;
width:100%;
text-align:center;
}

#gameplay{
height: 404px;
width: 424px;
text-align: center;
background-color: gray;
display: inline;
}